@model MasterViewModel
@{
    ViewData["Title"] = "Konser Listesi";
    Layout = "_Layout2";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            margin-top: 80px;
            background: linear-gradient(90deg, rgba(254,224,229,1) 0%, rgba(238,238,224,1) 41%, rgba(231,243,229,1) 69%, rgba(215,255,242,1) 100%);
        }

        .card {
            width: 350px;
            height: 380px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px; 
        }

        .card-img-top {
            width: 100%;
            height: 350px; 
            object-fit: cover;
        }

        .card-body {
            flex-grow: 1; 
            overflow: hidden;
        }

        .card-footer {
            display: flex;
            flex-direction: column; 
            align-items: center;
        }

        .btn-group {
            margin-top: 10px;
        }

            .btn-group a {
                width: 100%; 
            }
    </style>
</head>

<div class="row">
    @if (Model.KonserSanatci != null && Model.KonserSanatci.Konserler != null)
    {
        foreach (var item in Model.KonserSanatci.Konserler)
        {
            <div class="col mb-5 d-flex justify-content-center">
                <form asp-controller="Sepet" asp-action="SepeteEkle" method="post">
                    <a href="@Url.Action("Details", "Konser", new { id = item.KonserID })" class="text-decoration-none">
                        <div class="card h-100">
                            <!-- Konser image-->
                            <img src="@Url.Content(item.ImageURL)" alt="@item.SanatciName" class="card-img-top" />
                            <!-- Konser details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h4 class="fw-bolder">@item.KonserName</h4>
                                    <h5 class="card-subtitle mb-2 text-muted">@item.SanatciName</h5>
                                    <div class="d-flex flex-column small text-warning mb-2">
                                        <p class="card-text">@item.KonserTanim</p>
                                        <p class="card-text"><strong>Date:</strong> @item.KonserDate.ToString("yyyy-MM-dd")</p>
                                        <p class="card-text"><strong>Location:</strong> @item.KonserLoc</p>
                                        <p class="card-text"><strong>Status:</strong> @item.KonserDurumu</p>
                                        <p class="card-text"><strong>Bilet Sayısı:</strong> @item.Capacity</p>
                                        @if (item.YeniTarih.HasValue)
                                        {
                                            <p class="card-text"><strong>New Date:</strong> @item.YeniTarih.Value.ToString("yyyy-MM-dd")</p>
                                        }
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </a>
                </form>
                <!-- butonlar -->
                <div class="card-footer p-4 border-top-0 bg-transparent">
                    <div>
                        <a href="@Url.Action("Details", "Konser", new { id = item.KonserID })" class="btn btn-primary d-block mb-2">Detaylar</a>

                        @if (User.IsInRole("Organizator") || User.IsInRole("Admin"))
                        {
                            <!-- Kullanıcı organizatörse düzenleme butonunu göstersin istedim -->
                            <a href="@Url.Action("KonserDuzenle", "Konser", new { id = item.KonserID })" class="btn btn-secondary d-block mb-2">
                                <i class="fas fa-edit"></i> Düzenle
                            </a>

                            <form asp-action="KonserSil" method="post" onsubmit="return confirm('Bu konseri silmek istediğinize emin misiniz?');">
                                <input type="hidden" name="konserId" value="@item.KonserID" />
                                <input type="hidden" name="kategoriId" value="@item.KategoriID" />
                                <button type="submit" class="btn btn-dark d-block mb-2">
                                    <i class="fas fa-trash"></i> Sil
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
