@model MasterViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ana Sayfa</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="css/bootstrap.mint.css" rel="stylesheet" />
    <style>
        body {
            background-color: #eee;
        }

        .carousel-caption {
            width: 900px;
            z-index: 10;
            color: #fff;
            text-align: center;
            font-family: 'Century Gothic';
            top: 70%;
            bottom: auto;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
        body {
            margin-top: 50px;
            background: linear-gradient(90deg, rgba(254,224,229,1) 0%, rgba(238,238,224,1) 41%, rgba(231,243,229,1) 69%, rgba(215,255,242,1) 100%);
        }

        .card {
            width: 350px;
            height: 380px; /* Yüksekliği sabitleyin */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px; /* Kartlar arasında boşluk bırakın */
        }

        .card-img-top {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .card-body {
            flex-grow: 1; 
            overflow: hidden; 
        }

        .card-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn-group {
            margin-top: 10px;
        }

            .btn-group a {
                width: 100%; /* Butonların genişliğini kartla uyumlu hale getirin */
            }

        .card.concert-item {
            width: 1250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto; /* Kartların ortalanmasını sağlamak için */
            background-color: #fff;
            padding: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }

        .card-img-top {
            width: 100%;
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
        }

        .concert-details {
            margin-bottom: 10px;
        }

        .concert-info{
            margin:20px;
        }

        .concert-images {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-left:800px;
            margin-top:50px;
            width:200px;
            height:200px;
        }

        .card-footer {
            display: flex;
            flex-direction: column;
            margin-bottom:100px;
            margin-left:100px;
        }

        .artist-carousel {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 1rem;
            padding: 1rem 0;
            -webkit-overflow-scrolling: touch; /* Mobil uyumluluk */
            scroll-behavior: smooth; /* Yumuşak kaydırma */
        }

        .artist-item {
            flex: 0 0 auto;
            scroll-snap-align: center;
            width: 280px; /* Sabit genişlik */
            height: 280px; /* Sabit yükseklik */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 10px; /* Köşeleri yuvarlatma */
            padding: 1rem;
        }

        .artist-img {
            width:200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%; 
        }

        .artist-carousel::-webkit-scrollbar {
            display: none; /* Tarayıcı kaydırma çubuğunu gizle */
        }
    </style>
</head>
<body id="page-top">

    <section class="py-4">
        <div class="container custom-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" style=" width:100%; height: 600px; margin-top:0px; !important;">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/yelllow.png" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption d-md-block" style="align-content:start">
                                <h1 style="color:aliceblue">"Konser Biletim aracılığı ile haftanın konserleri bir tık uzağında"</h1>
                                <p></p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Şimdi Tıkla</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/klasik.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption d-none d-md-block">
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Ayrıntılı Bilgi</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-110" src="/images/ticket.png" alt="Third slide">
                        <div class="container">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>
        </div>
    </section>

    <section>
        <br />
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Sanatçılar</h2>
            <div class="row">
                <div class="col-12">
                    <div class="artist-carousel">
                        @foreach (var sanatci in Model.KonserSanatci.Sanatcilar)
                        {
                            <div class="artist-item">
                                <img src="@Url.Content(sanatci.profilFotoPath)" alt="@sanatci.sanatciName" class="artist-img" />
                                <br />
                                <h5 class="text-center">@sanatci.sanatciName</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Concert Items Section -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.KonserSanatci.Konserler)
                {
                    <div class="col-12 mb-4">
                        <div class="card concert-item">
                            <form asp-controller="Sepet" asp-action="SepeteEkle" method="post">
                                <a href="@Url.Action("Details", "Konser", new { id = item.KonserID })" class="text-decoration-none d-flex flex-row">
                                    <div class="concert-details">
                                        <div class="concert-info">
                                            <h4 class="fw-bolder">@item.KonserName</h4>
                                            <h5 class="card-subtitle mb-2 text-muted">@item.SanatciName</h5>
                                            <p class="card-text">@item.KonserTanim</p>
                                            <p class="card-text"><strong>Date:</strong> @item.KonserDate.ToString("yyyy-MM-dd")</p>
                                            <p class="card-text"><strong>Location:</strong> @item.KonserLoc</p>
                                            <p class="card-text"><strong>Status:</strong> @item.KonserDurumu</p>
                                            <p class="card-text"><strong>Bilet Sayısı:</strong> @item.Capacity</p>
                                            @if (item.YeniTarih.HasValue)
                                            {
                                                <p class="card-text"><strong>New Date:</strong> @item.YeniTarih.Value.ToString("yyyy-MM-dd")</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="concert-images">
                                        <img src="@Url.Content(item.ImageURL)" alt="@item.SanatciName" class="card-img-top" />
                                    </div>
                                </a>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <footer class="bg text-center p-3">
        <p>&copy; 2024 Konser Biletim</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>